<div class="grid-container">
    <div class="content">
        <header class="content-header">
            <h3>Shopping cart</h3>
        </header>
        <div class="content-section-wrapper">
            <div class="content-section-header">
                <div class="item left">PRODUCT DETAILS</div>
                <div class="item">QUANTITY</div>
                <div class="item">PRICE</div>
                <div class="item">TOTAL</div>
            </div>
            <section class="content-section js-product">
                <!-- Products are rendered here -->
            </section>
        </div>
    </div>
    <div class="sidebar js-order">     
        <header class="sidebar-header">
            <h3>Order summary</h3>
        </header>
        <div class="content-section-summary">
            <div class="label"><span class="js-sum-items">0</span> Items</div>
            <div class="summary"><span class="js-sum-amount">0</span> €</div>
        </div>
        <div class="sidebar-section-header js-discounts-header">DISCOUNTS</div>
        <div class="content-section-discounts js-discounts">
            <!-- Discounts are rendered here -->
        </div>
        <div class="content-section-checkout">
            <div class="checkout-total">
                <div>TOTAL COST</div>
                <div class="amount js-total-cost">0 €</div>
            </div>
            <div class="checkout-button">
                <button>Checkout</button>
            </div>
        </div>
    </div>
</div>